* {
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: #e5f2fe;
  background-image: url('../../img/bg/bg-lines.svg');
  background-size: cover;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

img {
  display: block;
  max-width: 100%;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}
