.assets {
  flex-grow: 1;
  margin-bottom: 16px;

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
  }

  &__cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    & > * + * {
      margin-left: 30px;
    }
  }
}