.balance-card {
  position: relative;
  width: 486px;
  height: 244px;
  background: #E5F2FE;
  border-radius: 24px;

  padding: 26px 28px 25px 35px;

  &__balance {
    &-value {
      font-weight: 600;
      font-size: 28px;
      letter-spacing: 0.02em;
      color: #000000;
      margin-bottom: 5px;
    }

    &-descr {
      font-size: 14px;
      line-height: 21px;
      letter-spacing: 0.02em;
      color: #000000;
    }
  }

  &__settings {
    height: 20px;
    width: 14px;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 37px;
    right: 28px;
  }

  &__period {
    position: absolute;
    bottom: 25px;
    left: 34px;
    z-index: 200;

    & > * + * {
      margin-left: 24px;
    }

    &-btn {
      font-size: 14px;
      letter-spacing: 0.02em;
      color: #ACBCCD;

      &--active {
        font-size: 14px;
        letter-spacing: 0.02em;
        color: #040404;
      }
    }
  }

  &__chart {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 27px;
    z-index: 0;
  }
}
